input[type=text]{
    border-radius: 25px;
    border: 2px solid #cdcdcd;
    margin: 10px;
    padding: 10px; 
    width: 20vw;
    height: 10px;  
}

#addButton{
    border-radius: 25px;
    width: 80px;
    height: 30px;
    background-color: lightgreen;
}

